.cardListArea {
    list-style: none;
    padding-left: 0;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 44px 29px;
    justify-content: center;
}

.loadMoreBtnBox {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
}
.loadMoreBtn {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--color-blue);
    text-decoration:underline;
    font-family: "Monrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

}